$color-blue-dark: #00AED7;
$color-blue-light: #00DEDB;
$color-blue-nav: #003644;
$color-blue-darky: #1D306C;
$color-pink-light: #F3E4D6;
$color-pink-dark: #F6DBDE;
$color-pink-darky: #F18B6E;
$color-purple-dark: #B68AFD;
$color-green-dark: #00AA88;
// grid //
$max-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
$gutter-vertical-small: 6rem;